.button {
    border: 1px solid rgba(255, 255, 255, .06);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: #fff;
    width: 60px;
    height: 60px;
    transition-duration: .2s;

    &:hover {
        background-color: var(--accent);
    }
}