.recipesItem {
    border: 2px solid rgba(255, 255, 255, .06);
    background: linear-gradient(180deg, rgba(255, 255, 255, .03), rgba(255, 255, 255, .01));
    border-bottom-color: var(--accent);
    padding: 0;
    display: grid;
    grid-template-columns: 200px 1fr 80px;

    &__info {
        padding: 20px 20px 32px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__poster {
        width: 100px;
        height: 100px;
        pointer-events: none;

        img {
            height: 100%;
            width: auto;
            user-select: none;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
    }

    &__body {
        padding: 12px 12px 12px 0;
    }

    &__aside {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 12px 6px;
        align-items: center;
        border-left: 1px solid rgba(255, 255, 255, .06);

        .divider {
            flex: 1;
        }

        .button {
            width: 40px;
            height: 40px;
        }
    }
}